.hero-bg {
  background-image: url(../../media/gif.gif); }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 1rem; }
  .navbar nav {
    font-family: 'Vhs';
    padding-left: 2rem;
    color: whitesmoke; }

.hero-title {
  padding-top: 18rem;
  padding-bottom: 18rem;
  padding-left: 2rem;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
