
@import 'fonts/fonts.scss';
@import './mediaqueries.scss';
@import 'assets/hero.scss';
@import 'assets/servicios.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

body{
    @include xs {
        overflow: hidden;
    }
}

.container {
    width: 90%;
    margin: auto;
}

