.hero-bg {
  background: url(/media/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 765px;
}

.navbar {
  padding: 2rem 0;
}

.navbar nav {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.3s ease;
}

.navbar nav :hover {
  color: #db0000;
  transition: all 0.3s ease;
}

.navbar nav a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  display: flex;
  margin: 0 60px;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .navbar nav a {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

@media screen and (max-width: 599px) {
  .navbar nav a {
    margin: 0 10px;
  }
}

.hero-title {
  margin: 210px auto 230px auto;
}

@media screen and (max-width: 599px) {
  .hero-title {
    margin-left: 20px;
  }
}

.hero-title h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FF0A0A;
  padding-bottom: 10px;
  text-align: center;
  color: #FF0A0A;
}

@media screen and (max-width: 599px) {
  .hero-title h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 599px) {
  .hero-title h1 {
    text-align: left;
  }
}

.hero-title h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-align: center;
  text-transform: lowercase;
  font-size: 40px;
}

@media screen and (max-width: 599px) {
  .hero-title h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .hero-title h2 {
    text-align: left;
  }
}

.links {
  display: flex;
  justify-content: center;
  width: 296px;
  margin: auto;
  padding-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .links {
    width: 70%;
    margin: auto;
  }
}

.links figure {
  width: 52px;
  margin: 0 70px;
}

.links figure :hover {
  fill: #ce0000;
}

.links figure svg {
  fill: whitesmoke;
  transition: all 0.3s ease;
}

@media screen and (max-width: 599px) {
  .links figure svg {
    width: 50px;
  }
}

@media screen and (max-width: 599px) {
  .links figure {
    margin: 0 1rem;
  }
}

.sobremi {
  background-color: #100F0D;
}

.sobremi .sobremi-content {
  display: flex;
  flex-wrap: wrap;
  margin: 163px 112px;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content {
    margin: 163px 10px;
  }
}

.sobremi .sobremi-content .sobremi-picture figure img {
  width: 100%;
}

.sobremi .sobremi-content .sobremi-text {
  width: 357px;
  margin: 0 86px;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text {
    margin: 30px 30px;
  }
}

.sobremi .sobremi-content .sobremi-text h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text h2 {
    font-size: 30px;
  }
}

.sobremi .sobremi-content .sobremi-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  margin: 19px 0;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

.subtitulo {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-transform: uppercase;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .subtitulo {
    font-size: 30px;
  }
}

#marcas {
  background: #100F0D;
}

#marcas .brands {
  display: flex;
  flex-wrap: wrap;
}

#marcas .brands .row1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

#marcas .brands .row2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

#marcas .brands figure {
  width: 150px;
  margin: 4rem;
  transition: all 0.1s ease;
}

#marcas .brands figure img {
  border-radius: 100%;
  width: 100%;
}

#trabajos {
  background: #100F0D;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.videos span {
  width: 389px;
  margin: 106px 40px;
  transition: all 0.1s ease;
}

@media screen and (max-width: 599px) {
  .videos span {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}

.videos span video {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 599px) {
  .videos span video {
    margin: 0;
    height: 100%;
    min-height: 100%;
  }
}

.videos .miprimer-amor,
.videos .verano,
.videos .pulsar,
.videos .wuff1,
.videos .esenciales,
.videos .roche {
  mix-blend-mode: normal;
  opacity: 0.7;
}

#contacto {
  background: #131326;
  height: 800px;
}

.contacto-texto {
  text-align: center;
  justify-content: center;
  padding-top: 300px;
}

.contacto-texto h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 30px;
}

@media screen and (max-width: 599px) {
  .contacto-texto h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .contacto-texto h2 {
    font-size: 17px;
  }
}

.contacto-texto .email {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 69px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .contacto-texto .email {
    font-size: 20px;
  }
}

.btn {
  background: #1d1b17;
  border-radius: 5px;
  text-align: center;
  text-align: center;
  justify-content: center;
  width: 227px;
  margin: 30px auto;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 599px) {
  .btn {
    width: 180px;
  }
}

.btn :hover {
  background-color: #1b2a53;
  transition: all 0.3s ease-in-out;
}

.btn a {
  text-decoration: none;
}

.btn .btn-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 20px;
  padding: 10px 0;
}

@media screen and (max-width: 599px) {
  .btn .btn-text p {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .btn .btn-text p {
    font-size: 15px;
  }
}

footer {
  background: #000000;
  text-align: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 45px;
  /* identical to box height, or 205% */
  letter-spacing: -0.02em;
  color: #C4C4C4;
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}
