
@import 'fonts/fonts.scss';
@import './mediaqueries.scss';
@import 'assets/hero.scss';
@import 'assets/servicios.scss';
@import 'assets/marcas.scss';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}



.container {
    width: 90%;
    margin: auto;
}

