.hero-bg {
  background: url(/media/bghero.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .hero-bg {
    height: 750px;
  }
}

.navbar {
  padding: 2rem 0;
}

.navbar nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar nav :hover {
  color: #5e5e5e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar nav a {
  font-family: "reross-quadratic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 11px;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .navbar nav a {
    font-size: 20px;
  }
}

.hero-title {
  margin: auto;
  padding: 17rem 0;
}

.hero-title h1 {
  font-family: 'alfarn', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 92px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 80px;
  padding-bottom: 13px;
  text-align: center;
  color: #d6a3c9;
}

@media screen and (max-width: 599px) {
  .hero-title h1 {
    font-size: 30px;
    line-height: normal;
    text-align: center;
    color: #E5E5E5;
  }
}

.hero-title h2 {
  font-family: "reross-quadratic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .hero-title h2 {
    font-size: 25px;
    line-height: normal;
    text-align: center;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 599px) {
  .links {
    width: 70%;
    margin: auto;
  }
}

.links figure {
  width: 4rem;
}

.links figure :hover {
  fill: #474747;
}

.links figure svg {
  fill: whitesmoke;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 599px) {
  .links figure svg {
    width: 50px;
  }
}

@media screen and (max-width: 599px) {
  .links figure {
    margin: 0 1rem;
  }
}

.servicios-bg {
  background: #01020A;
}

.servicios-bg .blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicios-bg .figure {
  width: 50%;
  min-width: 400px;
}

@media screen and (max-width: 599px) {
  .servicios-bg .figure {
    width: 100%;
  }
}

.servicios-bg .figure img {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .servicios-bg .figure img {
    width: 100%;
  }
}

.servicios-bg .blurb-text {
  width: 50%;
  margin: auto;
  padding: 0 30px;
}

@media screen and (max-width: 599px) {
  .servicios-bg .blurb-text {
    width: 100%;
  }
}

.servicios-bg .blurb-text h2 {
  font-family: reross-quadratic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  text-align: center;
  padding: 4rem 0;
  color: #f7f7f7;
  text-transform: uppercase;
  text-align: left;
}

.servicios-bg .blurb-text p {
  font-family: carlmarx, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

.subtitulo {
  font-family: reross-quadratic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  text-align: center;
  padding: 4rem 0;
  color: #f7f7f7;
  text-transform: uppercase;
  padding: 4rem 0;
  text-align: center;
}

#marcas {
  background: #303440;
}

#marcas .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#marcas .brands .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#marcas .brands .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#marcas .brands figure {
  width: 150px;
  margin: 4rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#marcas .brands figure :hover {
  border: #ffffff solid 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#marcas .brands figure img {
  border-radius: 100%;
  width: 100%;
}

#trabajos {
  background: #303440;
}

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.videos span {
  width: 33.33%;
  min-width: 200px;
  min-height: 266px;
  max-height: 266px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (max-width: 599px) {
  .videos span {
    width: 100%;
  }
}

.videos span img {
  opacity: 0;
  min-width: 200px;
  min-height: 266px;
  max-height: 266px;
  width: 100%;
}

.videos span img :hover {
  -webkit-box-shadow: 0px 0px 5px 24px rgba(255, 0, 0, 0.48);
          box-shadow: 0px 0px 5px 24px rgba(255, 0, 0, 0.48);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 50%;
}

.videos .miprimer-amor,
.videos .verano,
.videos .pulsar,
.videos .roche1,
.videos .roche2,
.videos .roche3,
.videos .roche4,
.videos .roche5,
.videos .roche6,
.videos .wuff1,
.videos .wuff2,
.videos .wuff3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.videos .miprimer-amor {
  background-image: url(/media/miprimeramor.gif);
}

.videos .verano {
  background-image: url(/media/verano.gif);
}

.videos .pulsar {
  background-image: url(/media/pulsar.gif);
}

.videos .roche1 {
  background-image: url(/media/1dejunio.jpg);
}

.videos .roche2 {
  background-image: url(/media/5dejunio.jpg);
}

.videos .roche3 {
  background-image: url(/media/POGGI-post_abr-mascarilla-polaroid-esque_1.png);
}

.videos .roche4 {
  background-image: url(/media/Roche_post_pulmon_1_linkedin.png);
}

.videos .roche5 {
  background-image: url(/media/roche_post.png);
}

.videos .roche6 {
  background-image: url(/media/roche_propuesta_cancer_mama_1.png);
}

.videos .vitac1 {
  background-image: url(/media/VITAC-post_dic-naranja1.png);
}

.videos .vitac2 {
  background-image: url(/media/VITAC-post_dic-playa.png);
}

.videos .wuff1 {
  background-image: url(/media/wuff.gif);
}

.videos .wuff2 {
  background-image: url(/media/2019_11_WUF_OFICINA_12.jpg);
}

.videos .wuff3 {
  background-image: url(/media/2019_11_WUF_OFICINA_20.jpg);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */