@charset "UTF-8";
.hero-bg {
  background: url(/media/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 730px;
}

.navbar {
  padding: 2rem 0;
}

.navbar nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar nav :hover {
  color: #db0000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar nav a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 60px;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .navbar nav a {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

@media screen and (max-width: 599px) {
  .navbar nav a {
    margin: 0 10px;
  }
}

.hero-title {
  margin: 210px auto 200px auto;
}

@media screen and (max-width: 599px) {
  .hero-title {
    margin-left: 20px;
  }
}

.hero-title h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 92px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FF0A0A;
  text-align: center;
  color: #FF0A0A;
}

@media screen and (max-width: 599px) {
  .hero-title h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 599px) {
  .hero-title h1 {
    text-align: left;
  }
}

.hero-title h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-align: left;
  margin-left: 770px;
  text-transform: lowercase;
  font-size: 31px;
}

@media screen and (max-width: 599px) {
  .hero-title h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .hero-title h2 {
    text-align: left;
    margin-left: 0;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 296px;
  margin: auto;
  padding-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .links {
    width: 70%;
    margin: auto;
  }
}

.links figure {
  width: 52px;
  margin: 0 70px;
}

.links figure :hover {
  fill: #ce0000;
}

.links figure svg {
  fill: whitesmoke;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 599px) {
  .links figure svg {
    width: 50px;
  }
}

@media screen and (max-width: 599px) {
  .links figure {
    margin: 0 1rem;
  }
}

.sobremi {
  background-color: #100F0D;
}

.sobremi .sobremi-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 163px 112px;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content {
    margin: 163px 10px;
  }
}

.sobremi .sobremi-content .sobremi-picture figure img {
  width: 100%;
}

.sobremi .sobremi-content .sobremi-text {
  width: 357px;
  margin: 0 86px;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text {
    margin: 30px 30px;
  }
}

.sobremi .sobremi-content .sobremi-text h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text h2 {
    font-size: 30px;
  }
}

.sobremi .sobremi-content .sobremi-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  margin: 19px 0;
}

@media screen and (max-width: 599px) {
  .sobremi .sobremi-content .sobremi-text p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

.subtitulo {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-transform: uppercase;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .subtitulo {
    font-size: 30px;
  }
}

#marcas {
  background: #100F0D;
}

#marcas .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#marcas .brands .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#marcas .brands .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#marcas .brands figure {
  width: 150px;
  margin: 4rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#marcas .brands figure img {
  border-radius: 100%;
  width: 100%;
}

#trabajos {
  background: #100F0D;
}

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos span {
  width: 350px;
  margin: 90px 40px;
}

.videos span img {
  min-height: 190px;
  max-height: 279px;
  max-width: 350px;
}

@media screen and (max-width: 599px) {
  .videos span {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}

.videos span video {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 599px) {
  .videos span video {
    margin: 0;
    height: 100%;
    min-height: 100%;
  }
}

.videos .miprimer-amor,
.videos .verano,
.videos .pulsar,
.videos .wuff1,
.videos .esenciales,
.videos .roche {
  mix-blend-mode: normal;
  opacity: 0.7;
}

#contacto {
  background: #131326;
  height: 800px;
}

.contacto-texto {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 300px;
}

.contacto-texto h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 20px;
}

@media screen and (max-width: 599px) {
  .contacto-texto h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .contacto-texto h2 {
    font-size: 17px;
  }
}

.contacto-texto .email {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 69px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-decoration: none;
  font-size: 45px;
}

@media screen and (max-width: 599px) {
  .contacto-texto .email {
    font-size: 20px;
  }
}

.btn {
  background: #1d1b17;
  border-radius: 5px;
  text-align: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 599px) {
  .btn {
    width: 150px;
  }
}

.btn :hover {
  background-color: #1b2a53;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn a {
  text-decoration: none;
}

.btn .btn-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 15px;
  padding: 4px;
}

@media screen and (max-width: 599px) {
  .btn .btn-text p {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .btn .btn-text p {
    font-size: 15px;
  }
}

footer {
  background: #131326;
  text-align: right;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 45px;
  /* identical to box height, or 205% */
  letter-spacing: -0.02em;
  color: #C4C4C4;
  font-size: 13px;
}

footer p {
  margin: 0 20px;
}

#wuff, #vitac {
  background: #100F0D;
}

#wuff .content, #vitac .content {
  margin: 0 50px;
}

#wuff .content .container1, #vitac .content .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

#wuff .content .container1 .container-pic, #vitac .content .container1 .container-pic {
  width: 550px;
  margin: auto;
}

#wuff .content .container1 .container-pic img, #vitac .content .container1 .container-pic img {
  width: 100%;
}

#wuff .content .container1 .container-text, #vitac .content .container1 .container-text {
  width: 30%;
  margin: 10px 50px;
}

#wuff .content .container1 .container-text h2, #vitac .content .container1 .container-text h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
}

@media screen and (max-width: 599px) {
  #wuff .content .container1 .container-text h2, #vitac .content .container1 .container-text h2 {
    font-size: 30px;
  }
}

#wuff .content .container1 .container-text p, #vitac .content .container1 .container-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  margin: 35px 0;
}

@media screen and (max-width: 599px) {
  #wuff .content .container1 .container-text p, #vitac .content .container1 .container-text p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

#wuff .content .container2, #vitac .content .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

#wuff .content .container2 img, #vitac .content .container2 img {
  width: 380px;
  margin: 15px 30px;
}

@media screen and (max-width: 599px) {
  #wuff .content .container2 img, #vitac .content .container2 img {
    width: 100%;
    margin: 30px 10px;
  }
}

#roche, #discover {
  background: #100F0D;
}

#roche .content, #discover .content {
  margin: 0 50px;
}

#roche .content .container1, #discover .content .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

#roche .content .container1 .container-pic, #discover .content .container1 .container-pic {
  width: 550px;
  margin: auto;
}

@media screen and (max-width: 599px) {
  #roche .content .container1 .container-pic, #discover .content .container1 .container-pic {
    width: 100%;
  }
}

#roche .content .container1 .container-pic img, #discover .content .container1 .container-pic img {
  width: 100%;
}

#roche .content .container1 .container-text, #discover .content .container1 .container-text {
  width: 30%;
  margin: 10px 50px;
}

@media screen and (max-width: 599px) {
  #roche .content .container1 .container-text, #discover .content .container1 .container-text {
    width: 100%;
    margin: 10px 0;
  }
}

#roche .content .container1 .container-text h2, #discover .content .container1 .container-text h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
}

@media screen and (max-width: 599px) {
  #roche .content .container1 .container-text h2, #discover .content .container1 .container-text h2 {
    font-size: 30px;
  }
}

#roche .content .container1 .container-text p, #discover .content .container1 .container-text p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
  margin: 35px 0;
}

@media screen and (max-width: 599px) {
  #roche .content .container1 .container-text p, #discover .content .container1 .container-text p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

#roche .content .campaña1, #roche .content .campaña2, #discover .content .campaña1, #discover .content .campaña2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#roche .content .campaña1 h2, #roche .content .campaña2 h2, #discover .content .campaña1 h2, #discover .content .campaña2 h2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #C4C4C4;
  margin: 35px 0;
}

@media screen and (max-width: 599px) {
  #roche .content .campaña1 h2, #roche .content .campaña2 h2, #discover .content .campaña1 h2, #discover .content .campaña2 h2 {
    font-size: 30px;
  }
}

#roche .content .campaña1 p, #roche .content .campaña2 p, #discover .content .campaña1 p, #discover .content .campaña2 p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #C4C4C4;
}

@media screen and (max-width: 599px) {
  #roche .content .campaña1 p, #roche .content .campaña2 p, #discover .content .campaña1 p, #discover .content .campaña2 p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #C4C4C4;
  }
}

#roche .content .campaña1 figure, #roche .content .campaña2 figure, #discover .content .campaña1 figure, #discover .content .campaña2 figure {
  width: 400px;
  height: auto;
  margin: 40px 15px;
}

@media screen and (max-width: 599px) {
  #roche .content .campaña1 figure, #roche .content .campaña2 figure, #discover .content .campaña1 figure, #discover .content .campaña2 figure {
    margin: 40px 0;
    width: 100%;
  }
}

#roche .content .campaña1 figure img, #roche .content .campaña2 figure img, #discover .content .campaña1 figure img, #discover .content .campaña2 figure img {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */