#contacto {
    background: #131326;
    height: 800px;
}

.contacto-texto {
    text-align: center;
    justify-content: center;
    padding-top: 300px;


    h2 {
        @include subtitleFont;
        font-size: 20px;

         @include xs {
             font-size: 17px;
         }
    }

    .email {
        @include emailFont;
        text-decoration: none;
        font-size: 45px;
       


    }

       
   
       
    
       
    
}

.btn {
    background: #1d1b17;
    border-radius: 5px;
    text-align: center;
    text-align: center;
    justify-content: center;
    width: 150px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;

    @include xs {
        width: 150px;
    }

    :hover {
        background-color: rgb(27, 42, 83);
        transition: all 0.3s ease-in-out;


    }

    a{
        text-decoration: none;
    }

     .btn-text {
         
         p {
             @include subtitleFont;
             font-size: 15px;
             padding: 4px;

              @include xs {
                  font-size: 15px;
              }
         }
     }
}



// footer

footer {
    background: #131326;
    text-align: right;
    @include bodyFont;
    font-size: 13px;

     p {
         margin: 0 20px;
     }
}