#contacto {
    background: #131326;
}

.contacto-texto {
    text-align: center;
    justify-content: center;
    padding: 300px 0;

   
    h2 {
        @include subtitle-fonts;
    }

    a {
        @include email-fonts;
        transition: all 0.3s ease;
        text-decoration: none;

        @include xs {
            font-size: 21px;
        }



        
        :hover {


            color: #ce0000;
            transition: all 0.3s ease;

        }
    
    }
}

// footer

footer {
    background: #000000;
    text-align: center;
    color: white;
    @include body-fonts;
    font-size: 16px;
}