#contacto {
    background: #131326;
    height: 800px;
}

.contacto-texto {
    text-align: center;
    justify-content: center;
    padding-top: 300px;


    h2 {
        @include subtitleFont;
        font-size: 30px;
    }

    .email {
        @include emailFont;
        text-decoration: none;
       


    }

       
   
       
    
       
    
}

.btn {
    background-color: rgba(31, 60, 138, 0.432);
    text-align: center;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 227px;
    margin: 30px auto;
    transition: all 0.3s ease-in-out;

    :hover {
        background-color: rgb(27, 42, 83);
        transition: all 0.3s ease-in-out;


    }

    a{
        text-decoration: none;
    }

     .btn-text {
         
         p {
             @include subtitleFont;
             font-size: 20px;
         }
     }
}



// footer

footer {
    background: #000000;
    text-align: center;
    @include bodyFont;
    font-size: 15px;
}