

.hero-bg{
    background: url(/media/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 765px;
}
  

.navbar {

    
    padding: 2rem 0;
    

     nav{

        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        transition: all 0.3s ease;

        :hover{
            color: #db0000;
            transition: all 0.3s ease;
        }

        a{
            @include second-font;
            display: flex;
            margin: 0 60<px;
            text-decoration: none;

             @include xs {
                 font-size: 13px;
             }


            
        }
        }

      
}

.hero-title{


   
    margin: 228px auto 250px auto;
       

     h1{
        @include title-font;
        font-size: 80px;
        padding-bottom: 13px;
         text-align: center;

         @include xs {
             font-size: 30px;
             line-height: normal;
         }
     }

     h2{
         @include second-font;
         text-align: center;


         @include xs {
            font-size: 25px;
            line-height: normal;
            text-align: center;
         }
     
     }
}

.links{
    display: flex;
    justify-content: center;
    width: 296px;
    margin: auto;
    padding-bottom: 5px; 
    
    @include xs {
        width: 70%;
        margin: auto;
    }


   

     figure {
        
        width: 52px;
        margin: 0 70px;


         
         
         :hover{
             
            
             fill: rgb(206, 0, 0);
         }
         

         svg {
             fill: whitesmoke;
             transition: all 0.3s ease;


              @include xs {
                  width: 50px;
              }
         }
         
         
         @include xs {
            margin: 0 1rem;
         }
     }
}