

.hero-bg{
    background: url(/media/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 660px;
    width: 100%;

    @include xs {
        height: 750px;
    }
}

.navbar {

    
    padding: 2rem 0;
    

     nav{

        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        transition: all 0.3s ease;

        :hover{
            color: #5e5e5e;
            transition: all 0.3s ease;
        }

        a{
            @include second-font;
            color: #E5E5E5;
            display: flex;
            margin-left: 11px;
            text-decoration: none;

             @include xs {
                 font-size: 20px;
             }


            
        }
        }

      
}

.hero-title{


   
    margin: auto;   
    padding: 180px 0;

     h1{
        
        padding-bottom: 0.3rem;
         @include title-font;
         text-align: center;

         @include xs {
             font-size: 30px;
             line-height: normal;
             text-align: center;
         }
     }

     h2{
         @include email-fonts;
         text-transform: lowercase;
         text-align: center;

         @include xs {
            font-size: 25px;
            line-height: normal;
            text-align: center;
         }
     
     }
}

.links{
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    width: 30%;
    margin: auto; 
    
    @include xs {
        width: 70%;
        margin: auto;
    }


   

     figure {
        
        width: 4rem;

         
         
         :hover{
             transform: scale(1.1);
             transition: all 0.3s ease;
         }
         

         svg {
             fill: whitesmoke;

              @include xs {
                  width: 50px;
              }
         }
         
         
         @include xs {
            margin: 0 1rem;
         }
     }
}