.subtitulo {
    @include subtitle-fonts;
    text-transform: uppercase;
    padding: 4rem 0;
    text-align: center;
}

#marcas {
    background:#100F0D;
    ;
   

    .brands {
         
        display: flex;
        flex-wrap: wrap;
 

        .row1 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            justify-content: center;
        }

        .row2 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            justify-content: center;
        }

        figure {

            width: 150px;
            margin: 4rem;
            transition: all 0.1s ease;
            

         
            
            img {
                border-radius: 100%;
                width: 100%;
                
            }
        }
    }
}