#roche, #discover {
    background: #100F0D;

    .content {

        margin: 0 50px;
        
        
        .container1 {
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0;

            .container-pic {
                width: 550px;
                margin: auto;

                @include xs {
                    width: 100%;
                }

                 img {
                     width: 100%;
                 }
            }

            .container-text {
                width: 30%;
                margin: 10px 50px;

                @include xs {
                    width: 100%;
                    margin: 10px 0;
                }

              

                 h2 {
                     @include subtitleFont;
                     
                 }

                 p {
                     @include navFont;
                     margin: 35px 0;
                 }
            }
        }

        .campaña1,.campaña2 {
            display: flex;
            flex-wrap: wrap;
            

            h2 {
                @include subtitleFont;
                margin: 35px 0;
                

               

            }

            p {
                @include navFont;
            }

            figure {

                width: 400px;
                height: auto;
                margin: 40px 15px;

                @include xs {
                    margin: 40px 0;
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }


        
    
        }  
        
    }
}