.servicios-bg {
    background: #131326;
    padding-top: 5rem;

     .blurb {
         display: flex;
         flex-wrap: wrap;
         padding: 4rem 0;
         
     }

     .figure {

        width: 50%;

         svg {
             width: 100%;
             fill: whitesmoke;

             @include xs {
                 width: 100%;
             }
         }

        
     }

     .blurb-text{
         
         width: 50%;
         margin: auto;
         padding: 0 3rem;

         @include xs {
             width: 100%;
         }
         

          h2{
              @include subtitle-fonts;
              text-transform: uppercase;
              text-align: left
          }

          p{
              @include body-fonts;
              
              color: white;
              margin-top: 1rem;
              text-transform: uppercase;
              
          }
     }

     

}