.servicios-bg {
    background: #01020A;

     .blurb {
         display: flex;
         flex-wrap: wrap;         
     }

     .figure {

        width: 50%;
        min-width: 400px;

        @include xs {
            width: 100%;
        }

         img {
             width: 100%;



             @include xs {
                 width: 100%;
             }
         }

        
     }

     .blurb-text{
         
         width: 50%;
         margin: auto;
         padding: 0 30px;

         @include xs {
             width: 100%;
         }
         

          h2{
              @include subtitle-fonts;
              text-transform: uppercase;
              text-align: left
          }

          p{
              @include body-fonts;
              
              color: white;
              text-transform: uppercase;
              
          }
     }

     

}