#trabajos {
    background: #100F0D;
}



.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    span {
        width: 350px;
        min-height: 279px;
        max-height: 279px;
        margin: 90px 40px;
        transition: all 0.1s ease;





        @include xs {
            width: 100%;
            margin: 0;

        }

        img {
            opacity: 0;
            min-width: 200px;
            min-height: 266px;
            max-height: 266px;
            width: 100%;

            :hover {
                box-shadow: 0px 0px 5px 24px rgba(255, 0, 0, 0.48);
                ;
                transition: all 0.3s ease;
                opacity: 50%;
            }
        }




    }

    .miprimer-amor,
    .verano,
    .pulsar,
    .wuff1,
    .esenciales,
    .roche {


        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: normal;
        opacity: 0.7;




    }


    .miprimer-amor {
        background-image: url(/media/miprimeramor.gif);


    }

    .verano {
        background-image: url(/media/verano.gif);

    }

    .pulsar {
        background-image: url(/media/pulsar.gif);

    }

    .esenciales {
        background-image: url(/media/vitac.gif);
    }
    

    .roche {
        background-image: url(/media/roche.png);

    }



    .wuff1 {
        background-image: url(/media/wuff.gif);

    }

  


}