#trabajos {
    background: #100F0D;
}



.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    span {
        width: 350px;
        min-height: 279px;
        max-height: 279px;
        margin: 90px 40px;
        transition: all 0.1s ease;





        @include xs {
            width: 100%;
            margin: 0;
            height: 100%;

        }

        video {
            width: 100%;
            height:auto;
            max-width: 100%;
            vertical-align: top;

           @include xs {
             margin: 0;
             height: 100%;
             min-height: 100%;
           }
        }




    }

    .miprimer-amor,
    .verano,
    .pulsar,
    .wuff1,
    .esenciales,
    .roche {


        
        mix-blend-mode: normal;
        opacity: 0.7;




    }


   
  


}