@mixin navFont {
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;
letter-spacing: -0.02em;

color: #C4C4C4;

 @include xs {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    
    color: #C4C4C4;
    
    
 }

   
}

@mixin heroTitle {
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 92px;
letter-spacing: -0.02em;
text-transform: uppercase;

color: #C4C4C4;

  @include xs {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #C4C4C4;
    
    
  }
}

@mixin subtitleFont {
    font-family: Work Sans;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 59px;

/* identical to box height */
letter-spacing: -0.02em;
text-transform: uppercase;

color: #C4C4C4;
 
 @include xs {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #C4C4C4;
    
    
 }

}

@mixin bodyFont {
    
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 45px;

/* identical to box height, or 205% */
letter-spacing: -0.02em;

color: #C4C4C4;


}

@mixin emailFont {
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 69px;
letter-spacing: -0.02em;
text-transform: uppercase;

color: #C4C4C4;


}