@mixin second-font {
font-family: 'Yanone Kaffeesatz', sans-serif;font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 13px;
letter-spacing: -0.02em;
}

@mixin regular-font {
font-family: 'Yeseva One';
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;
letter-spacing: -0.02em;
text-transform: uppercase;

color: #fdfdfd;

}

@mixin title-font {
font-family: 'Kanit', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 92px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #C4C4C4;
}

@mixin email-fonts {
font-family: 'Kanit', sans-serif;font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;
letter-spacing: -0.02em;
text-transform: uppercase;

color: #C4C4C4;

}

@mixin body-fonts {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 45px;
}

@mixin subtitle-fonts {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
letter-spacing: -0.02em;
text-transform: lowercase;
text-align: center;
padding: 4rem 0;

color: #f7f7f7
}