
    @mixin title-font {
        font-family: 'Oswald';
        font-weight: bold;
        color:whitesmoke;
        font-size: 2rem;

    }

    @mixin regular-font {
        font-family: 'Oswald';
    }