.hero-bg{
    background-image: url(../../media/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;

     nav{
         font-family: 'Press Start 2P';
         padding-left: 3rem;
         color:whitesmoke;
     }
}

.hero-title{
    font-family: 'Yeseva One';
    padding-top: 18rem;
    padding-bottom: 15rem;
    padding-left: 3rem;
    width: 100%;
    color: whitesmoke;

     h1{
         padding-bottom: 0.3rem;
     }
}