

.hero-bg{
    background-image: url(../../media/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 660px;
    width: 100%;
}

.navbar {

    
    padding: 2rem 0;
    

     nav{

        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        transition: all 0.3s ease;

        :hover{
            color: #5e5e5e;
            transition: all 0.3s ease;
        }

        a{
            @include second-font;
            color: #E5E5E5;
            display: flex;
            margin-left: 11px;
            text-decoration: none;


            
        }
        }

      
}

.hero-title{


   
    margin: auto;   
    padding: 180px 0;

     h1{
        
        padding-bottom: 0.3rem;
         @include title-font;
         text-align: center;

         @include xs {
             font-size: 30px;
             line-height: normal;
             text-align: left;
             margin-left: 1rem;
         }
     }

     h2{
         @include email-fonts;
         text-transform: lowercase;
         text-align: center;

         @include xs {
            font-size: 25px;
            line-height: normal;
            text-align: left;
            margin-left: 1rem;
         }
     
     }
}

.links{
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;


   

     figure {
         margin-left: 2rem;
         width: 40px;

         
         
         :hover{
             transform: scale(1.1);
             transition: all 0.3s ease;
         }
         

         img {
             width: 100%;
         }
         
         
         @include xs {
            justify-content: start;
            width: 30px;
         }
     }
}