.hero-bg{
    background-image: url(../../media/hero-bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;

     nav{
         font-family: 'Vhs';
         padding-left: 2rem;
         color:whitesmoke;
     }
}

.hero-title{
    padding-top: 18rem;
    padding-bottom: 18rem;
    padding-left: 2rem;
    width: 100%;
    color: whitesmoke;

     h1{
         padding-bottom: 0.5rem;
     }
}