.servicios-bg {
    background: #0f100d;
    padding-top: 5rem;

     .blurb {
         display: flex;
         flex-wrap: nowrap;
         padding: 4rem 0;
         border-top: solid rgba(245, 245, 220, 0.452);
        
     }

     .figure {

        width: 50%;

         svg {
             width: 80%;
         }

         @include xs {
             width: 100%;
         }
     }

     .blurb-text{
         margin-left: 4rem;
         width: 50%;

         @include xs {
             width: 100%;
         }
         

          h2{
              @include subtitle-fonts;
              text-transform: uppercase;
          }

          p{
              @include body-fonts;
              
              color: hsl(60, 2%, 88%);
              margin-top: 1rem;
              
          }
     }

     

}