#trabajos {
    background: #0f100d;
    padding: 5rem 0;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8rem 0;

    @include xs {
        span {
            margin: 4rem 0;
        }
    }
}