#trabajos {
    background: #0f100d;
    padding: 5rem 0;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    span {
        width: 33.33%;

        @include xs {
            width: 100%;
        }

         img{
             width: 100%;
             min-width: 200px;
             display: block;
             
         }
    }


    .miprimeramor {height: 100%;}

    @include xs {
        span {
            
        }
    }
}